Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, so that it can be easily accessed and managed.

1. SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database.

2. SQL  works with data in the form of tables. Whereas, a NoSQL database works with data of document-oriented, column-oriented, graph-based or organized as a KeyValue store.

3. SQL has pre-defined schema but, NoSQL has dynamic schema.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL means Data Definition Language. DDL is a set of SQL commands used to create, modify, and delete database 

structures but not data.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store 

procedure, and triggers).

CREATE TABLE Subject

(
Sub_ID INT, 

Sub_Name varchar(20)
);

In [7]:
#table is created as follows

Subject Table:
Sub_ID| Sub_Name
      |

DROP: This command is used to delete objects from the database.

DROP subject;

ALTER: This is used to alter the structure of the database.

ALTER TABLE subject

ADD Lecturer_name varchar(40);

In [6]:
#table is altered by adding Lecturer_name

Subject Table:
Sub_ID| Sub_Name | Lecturer_name
      |          |

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

TRUNCATE TABLE Subject;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML means Data Manipulation Language. The SQL commands that deals with the manipulation of data present in the database belong to DML statements.

INSERT : It is used to insert data into a table.

INSERT INTO Subject VALUES ('1','Data Science','Sudhanshu');

In [5]:
#Values are inserted into Subject Table

Subject Table:
Sub_ID| Sub_Name     | Lecturer_name
  1   | Data Science |   Sudhanshu

UPDATE: It is used to update existing data within a table.

UPDATE Subject SET Lecturer_name = 'Sudh' WHERE sub_id = 1;

In [8]:
#the value in table is update using update command

Subject Table:
Sub_ID| Sub_Name     | Lecturer_name
  1   | Data Science |      Sudh

DELETE : It is used to delete records from a database table.

DELETE FROM subject where sub_id = 1;

In [9]:
#the row is deleted using delete command

Subject Table:
Sub_ID| Sub_Name | Lecturer_name
      |          |

Q4. What is DQL? Explain SELECT with an example.

DQL means Data Query Language. It includes the SELECT statement, which allows getting the data out of the database to 

perform operations with it.

Subject Table:
Sub_ID| Sub_Name     | Lecturer_name
  1   | Data Science |      Sudh

select * from subject;

In [12]:
#the select query gives the following result

  1    Data Science        Sudh

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure that data in the specific column is unique. Whereas, A foreign key is a column or 

group of columns in a relational database table that provides a link between data in two tables. It is a column (or 

columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
 
mydb = mysql.connector.connect(
    host = "localhost",
    
    user = "yourusername",
    
    password = "your_password"
)
 
print(mydb)

cursor = mydb.cursor()

cursor.execute("CREATE DATABASE DATASCIENCE")

A cursor is an object which helps to execute the query and fetch the records from the database. The execute () method 

helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.