In [3]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
ls = [4,8,15,16,23,42]

In [5]:
d = pd.Series(ls)

In [7]:
print(d)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [12]:
ls1 = [i*2 for i in range(1,11)]

In [14]:
s = pd.Series(ls1)

In [17]:
print(s)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q3. Create a Pandas DataFrame:

In [19]:
data = [['Alice', 25, 'Female'], ['Bob', 30, 'Male'], ['Claire', 27, 'Female']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some commonly used functions:

head() and tail(): To display the first and last few rows of the DataFrame, respectively. For example, you might use df.head() to quickly inspect the structure and content of a DataFrame.

describe(): To get a summary of statistics for each column in the DataFrame. For example, you might use df.describe() to get the mean, standard deviation, and other statistics for numeric columns.

drop(): To remove rows or columns from the DataFrame. For example, you might use df.drop(columns=['col1', 'col2']) to remove the 'col1' and 'col2' columns.

groupby(): To group data based on one or more columns, and perform operations on the groups. For example, you might use df.groupby('col1').mean() to get the mean value of each numeric column, grouped by the values in 'col1'.

fillna(): To replace missing values in the DataFrame with a specified value or method. For example, you might use df.fillna(0) to replace all missing values with 0.

merge(): To combine two DataFrames based on a common column. For example, you might use pd.merge(df1, df2, on='col1') to merge two DataFrames on the 'col1' column.

apply(): To apply a function to each element or row in the DataFrame. For example, you might use df.apply(lambda x: x**2) to square each element in the DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A Series object can be modified by assigning new values to individual elements or by applying methods that change the values in place. Similarly, a DataFrame object can be modified by adding or removing columns, renaming columns, reordering rows, updating values, and many other operations. But, pandas.Panel is not mutable because it has been deprecated since version 0.25.0 and replaced by other data structures, such as MultiIndex and DataFrame.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
import pandas as pd

names = pd.Series(['Sudh', 'Krish', 'nk'])
course = pd.Series(['Data Sciecne', 'Java', 'Python'])
cost = pd.Series([5000, 3000, 2500])
data = {'Name': names, 'Course': course, 'Price': cost}
df = pd.DataFrame(data)
print(df)

    Name        Course  Price
0   Sudh  Data Sciecne   5000
1  Krish          Java   3000
2     nk        Python   2500

In the above example, we created three separate Series objects, names, course, and cost, which contain data about the instructor name, course, and price of three courses. Then, we created a dictionary called data with keys 'Name', 'Course', and 'Price', and values corresponding to the Series objects. Finally, we passed the data dictionary to the pd.DataFrame() function to create a new DataFrame object called df. The resulting DataFrame has three columns, each containing the data from one of the Series objects.